@import './variables';

.home {
  margin: 0 auto;
  max-width: 800px;
  height: auto;
  background-color: $bg-gray;
  padding: 20px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h3 {
    font-weight: 800;
  }
  button {
    background-color: $primary-color;
    border: 0 solid;
    color: $light-gray;
    height: 30px;
  }
}

.all-student {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
